<div class="container">
    <div class="row justify-content-center flex-column">
        <a class="btn btn-primary mb-20" asp-action="index" asp-controller="slider" >Slider </a>
        <a class="btn btn-secondary mb-20" asp-action="index" asp-controller="event">Events</a>
        <a class="btn btn-success mb-20" asp-action="index" asp-controller="role">Roles</a>
        <a class="btn btn-danger mb-20" asp-action="index" asp-controller="Course">Courses</a>
        <a class="btn btn-warning" asp-action="index" asp-controller="teacher">Teachers</a>
        <a class="btn btn-info"  asp-action="index" asp-controller="skill"   >Skills</a>
        <a class="btn btn-light" asp-action="index" asp-controller="notice"  >Notices</a>
        <a class="btn btn-dark"  asp-action="index" asp-controller="user"  >Users</a>
        <a class="btn btn-primary mb-20" asp-action="index" asp-controller="category">Categories </a>

    </div>
</div>