
<div class="subscribe-area pt-60 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="subscribe-content section-title text-center">
                    <h2>subscribe our newsletter</h2>
                    <p>I must explain to you how all this mistaken idea </p>
                </div>
                <div class="newsletter-form mc_embed_signup">
                    <form asp-action="SubscribeAdd" asp-controller="Home" method="post">
                        <div class="mc-form">
                            <input   name="email" class="email" placeholder="Enter your e-mail address">
                            <button  class="default-btn" type="submit"><span>subscribe</span></button>
                        </div>
                    </form>
                    <!-- mailchimp-alerts Start -->
                    <div class="mailchimp-alerts">
                        <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                        <div class="mailchimp-success">
                            @if (TempData["Success"] != null)
                            {
                                <span class="text-success">@TempData["Success"]</span>
                            }
                        </div><!-- mailchimp-success end -->
                        <div class="mailchimp-error">
                            @if (TempData["Error"] != null)
                            {
                                <span class="text-danger">@TempData["Error"]</span>
                            }
                        </div><!-- mailchimp-error end -->
                    </div>
                    <!-- mailchimp-alerts end -->
                </div>
            </div>
        </div>
    </div>
</div>
